body {
    background-color: gray;
    margin: 0;
}

.gridElement {
    width: 1vw;
    height: 1vw;
    background-color: black;
}

#container {
    display: grid;
    gap: 0.2vw;
    background-color: gray;

}

